body {
    font-family: 'DM Sans';
    max-width: 1500px;
    margin: 0 auto;
}

header {
    background-image: url(/images/dark-books-and-flowers.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f2f2f2;
    text-align: center;
    padding: 90px 0px;
    margin-top: 20px;
}

header h1 {
    font-size: 60px;
    margin: 0;
    letter-spacing: 20px;
    line-height: 1.5;
}

header h2 {
    margin: 0;
    font-size: 25px;
    letter-spacing: 8px;
    text-transform: uppercase;
    line-height: 1.5;
}

.grid {
    display: grid;
}

.grid-two-columns {
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.introduction {
    margin-top: 20px;
}

.intro-img {
    width: 90%;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.intro-desc {
    margin-left: 20px;
    padding: 10px;
    color: #101010;
}

.info-img {
    width: 70%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.haunted-info {
    background-color: #c5c3c3;
    margin: 30px 0px;
    padding: 20px 10px;
}

.card {
    padding: 15px;
    background-color: rgb(253, 252, 252);
    text-align: center;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.grid-three-columns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

a {
    background-color: #008e97;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 13px;
}

.embedded-map {
    width: 100%;
    aspect-ratio: 21/9;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 4px;
}

footer {
    background-image: url(/images/historic-columns.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: 10px;
}

.footer-grid {
    grid-template-columns: 1fr 1fr;
    color: white;
}

.ghost-tours {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.footer-btn {
    background-color: transparent;
    box-shadow: none;
}

@media (max-width: 1200px) {
    .grid-three-columns {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 900px) {
    header h1 {
        font-size: 30px;
    }

    .grid-two-columns {
        grid-template-columns: 1fr;
    }

    .intro-img {
        width: 60%;
    }

    .intro-desc {
        text-align: center;
    }

    .grid-three-columns {
        grid-template-columns: 1fr;
    }

    p {
        font-size: 13px;
    }

    a {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    header h1 {
        letter-spacing: 5px;
    }

    header h2 {
        letter-spacing: 10px;
    }

    iframe {
        max-width: 200px;
    }
}
